In [21]:
import tensorflow as tf
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [104]:
df = pd.read_csv('DemoPnmList.csv')
col = list(df['Clubs, athletics, and activities participated in during high school & college'])

bdf = pd.read_csv('DemoBrotherList.csv')
bcol = list(bdf['Clubs, athletics, and hobbies participated in during high school & college'].astype(str))

# texts is now a list of the responses to the question
# This still needs to be cleaned because apparently there is a float in the mix
texts = []
for item in col:
    if type(item) == str:
        texts.append(item)
    else:
        texts.append('No Response')
        
        
btexts = []
for item in bcol:
    if type(item) == str:
        btexts.append(item)
    else:
        print()
        
print('Responses in texts:', len(texts))
print('Responses in btexts:', len(btexts))

Responses in texts: 1189
Responses in btexts: 15

1189

In [98]:
toke = Tokenizer(oov_token='<OOV>')
toke.fit_on_texts(texts)
word_index = toke.word_index
print("Items in word index: ",len(word_index))
sequences = toke.texts_to_sequences(texts)
print('Number of sequneces: ', len(sequences))
padded_seq = pad_sequences(sequences, padding='post', maxlen=10)

Items in word index:  1918
Number of sequneces:  1189

In [99]:
btoke = Tokenizer(oov_token='<OOV>')
btoke.fit_on_texts(btexts)
bword_index = btoke.word_index
print("Items in word index: ",len(bword_index))
bsequences = btoke.texts_to_sequences(btexts)
print('Number of sequneces: ', len(bsequences))
bpadded_seq = pad_sequences(bsequences, padding='post', maxlen=10)

Items in word index:  58
Number of sequneces:  15

In [107]:
df['sequence'] = list(padded_seq)
bdf['sequence'] = list(bpadded_seq)

,Unnamed: 0,First name,Last name,Home state,Year in school,Declared/projected major,"Clubs, athletics, and hobbies participated in during high school & college",sequence
0,0,Nicholas,Zaruba-Walker,TX,Sophomore,Information Science,"tennis, robotics, video games, ARK","[2, 8, 16, 3, 17, 0, 0, 0, 0, 0]"
1,1,Nate,Ellis,California,Sophomore,Business,"Hockey, lacrosse, business professionals of Am...","[18, 9, 19, 20, 21, 22, 23, 24, 25, 0]"
2,2,Ryan,Fragomeni,Minnesota,Freshman,Electrical Engineering,"Varsity Football, Track","[4, 10, 5, 0, 0, 0, 0, 0, 0, 0]"
3,3,Teddy,Otterby,California,Sophomore,History,"Football, smoking weed, partying","[10, 26, 27, 28, 0, 0, 0, 0, 0, 0]"
4,4,Ethan,Cartisano,New York,NaN,NaN,NaN,"[11, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [62]:
t = 1183
print(df.iloc[t]['Clubs, athletics, and activities participated in during high school & college'])
print(padded_seq[t])

Varsity Baseball Captain, Varsity Soccer, Varsity Basketball Captain, Peace Alliance Club President, Skiing,
[   5    7    5    8   53 1917 1918    2   40   36]

In [111]:
reverse_word_index = dict((v,k) for k,v in word_index.items())
breverse_word_index = dict((v,k) for k,v in bword_index.items())
breverse_word_index[4]

'varsity'

In [77]:
dict(('12','34'))

{'1': '2', '3': '4'}

In [84]:
import math
# compute the magnitude of a vector with arbitrary dimensions
def magnitude(v):
    total = 0
    for i in range(len(v)):
        total += v[i]**2
    return math.sqrt(total)


# dot product of an aribtrary vector
def dot_product(v, w):
    total = 0
    for i in range(len(w)):
        total += v[i]*w[i]
    return total


# compute the cosine similarity 
def cos_similarity(v, w):
    numerator = dot_product(v,w)
    denominator = magnitude(v) * magnitude(w)
    return numerator/denominator